<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.asset1.net/tv/pictures/movie/cocktail-1988/Cocktail-LB2-1.jpg);">
  <div class="container">
    <h1>Le Wagon changes <stronger>sober people</stronger> to <stronger>happy alcoholics</stronger></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to 'Add a cocktail', new_cocktail_path, class:'btn btn-outline-primary'  %>
  </div>
</div>
