<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo, crop: :fill %>')">
  <div class="container">
    <h1>Learn how to make a <stronger><%= @cocktail.name %></stronger></h1>
    <p>Find below the necessary ingredients and steps to make the best one!</p>
  </div>
</div>
