<div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, crop: :fill %>')">
  <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
</div>
